body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dd4545;
    margin: 0;
    padding: 0;
}

.container {
    margin: 105px auto;
    padding: 80px;
    background-color: #ebe2e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

button {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
